/node_modules

/vendor
/laradock
/.idea
Homestead.json
Homestead.yaml
.env
.env.testing
config/mail.php
config/database.php
*.swp
*.swn
*.swo
*.log
*.orig
.DS_Store
Thumbs.db
dump.rdb
.AppleDouble
.LSOverride
.htaccess
error_log
